<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
</style>
body {
  color: purple;
}

.aboutContainer {
  display: flex;
}
.aboutContainer > div {
  width: 33%;
}

h1 {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}
