<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
</style>
body {
  color: purple;
}

.aboutContainer {
  display: flex;
}
.aboutContainer > div {
  width: 33%;
}

h1 {
  color: black;
  font-family: "Merryweather";
  text-align: center;
}
h2 {
  color: black;
  font-family: "Merryweather";
  text-align: left;
}
