<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
body {
  font-family: "Audiowide", sans-serif;
}

.aboutContainer {
  display: flex;
}
.aboutContainer > div {
  width: 33%;
}

h1 {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}
</style>
</head> 
